body {
    background-color:hotpink;
}
.bvn {
    background-color: transparent;
}
.ddd {
    border: 5px solid pink;
    margin: 0% 25% 0% 25%;
    text-align: right;
    
}
.bbb {
    border: 5px solid pink;
    margin: 0% 25% 0% 25%;
}
.kkk {
    border: 5px solid pink;
    margin: 0% 25% 0% 25%;
    text-transform: uppercase;
    text-align: right;
}
.ik {
    background-color: red;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    border: 50px;
    border: 50px;
    border-style: groove;
    border-color: black;
}
h2 {
    text-align: center;
    font-style: italic;
}
.vv {
    background-color:grey
}
.chee {
    position: fixed;
    border: 6px;
    border-style: solid;
    border-radius: 50px;
    padding: 0% 7% 0% 7%;
}
.ggg {
    text-align: center;
    border: 8px double red;
    font-style: italic;
}